
.create-modal-header {
    background-color: #6ea8fe;
}

.edit-modal-header {
    background-color: #f58f41;
}

.edit-slot-modal-header {
    background-color: #5cee57;
}

.modal-content {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

#slot-drag-modal-body {
    background-color: #eff5f0;
}

.icon {
    font-size: 30px;
}

.switch {
    scale: 200%;
}

.edit-btn {
    width: 30px;
    height: 30px;
}

.form-check-input:checked {
    background-color: #58f658;
    border-color: #58f658;
}

.form-check-input {
    background-color: #ff5555;
    border: #ff5555;
}

.form-check-input:disabled {
    background-color: #646060;
    border: #646060;
}

.form-check-input:focus, .form-check-input:active, .form-check-input:not(:focus) {
    outline: none !important;
    box-shadow: none !important;
}



