

<div class="col-sm-12 mb-4">
    <div class="list-group list-group-horizontal d-flex justify-content-start menu-item">
        <button onclick="go_page('/rasp-control')" class="list-group-item list-group-item-action text-center text-muted">
            <i class="fa-solid fa-house"></i>
            <b><u>Home</u></b>
        </button>
        <button onclick="go_page('/rasp-control/settings')" class="list-group-item list-group-item-action text-center text-muted menu-item">
            <i class="fa-solid fa-gear"></i>
            <b><u>Settings</u></b>
        </button>
    </div>
</div>

<style>
    .menu-item {
        width: 300px;
    }
</style>

<script>
    function go_page(page) {
        let now_location = location.href
        if (now_location.endsWith('/'))
            now_location.substring(0, now_location.length)
        if (now_location !== page)
            location.href = page
    }
</script>
